@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monaco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('./Styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
  --main-black:#000000;
  --main-orange:#FF5C00;
  --main-purple:#5643E9;
  --slides-purple:#a49ed2; 
  --nav-border: #c6c6c6;
  --img-back:#FFF8E7;

  --blur:hsla(0, 0%, 100%, 0.03);
  --idea-grey: #5F5C76;
  --idea-grey-underline: #6d6d6d;
  --photo-caption-yellow: #FFF8E7;
  --warm-cobalt: #566DD0;
  --warm-cobalt-hover: #6B82E0;
  }
  
  *::after,*::before {
  box-sizing: border-box;
  }
  
  img,picture {
   max-width: 100%;
  }


.home {
    background: var(--img-back);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
    font-family: Righteous;
    z-index: 1;
}

.home__box {
    display: flex;
    align-items: center;
    margin: 0rem 6rem;
    position: relative;
    min-height: 100vh;
    justify-content: center;
}

@media (min-width:1000px) {
    .home__img {
        width:720px;
        margin-left: 1rem;
        display: flex;
        align-items: flex-start;
    }
    .home__img img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0;
        padding: 0;
    }
    .home__content {
        margin-left: 1rem;
        width: 550px;
    }
    .content__header {
        font-size: 40px;
        text-align: center;
        font-weight: lighter;
        color: var(--main-orange);
        text-transform: lowercase;
        line-height: 75px;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 7px;
        text-decoration-color: var(--main-orange);
        letter-spacing: 1px;
    }

    .home__content nav{
        color: var(--warm-cobalt);
    }
    
    .home__content nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .home__content nav li{ 
        list-style: none;
        padding-inline: 1rem;
        line-height: 35px;
        position: relative;
        z-index: 2;
    }
    
    .home__content nav li a{
        text-decoration: none;
        color: var(--warm-cobalt);
        font-size: 17px;
        font-family: Righteous;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        position: relative;
        z-index: 1;
    }
    
    .home__content nav li a:hover{
        text-decoration: underline;
        text-decoration-color: var(--warm-cobalt-hover);
        color: var(--warm-cobalt-hover);
    }
}

@media (max-width:1000px) {
    .home__box {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .home__img {
        margin-top:20%;
        width: 260px;
        display: flex;
        align-items: flex-start;
    }
    .home__img img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0;
        padding: 0;
    }
    .home__content {
        text-align: center;
        padding:30px;
    }
    .content__header {
        color: var(--main-orange);
        padding-bottom: 6px;
        white-space: nowrap;
    }

    .home__content nav li{ 
        list-style: none;
        padding-inline: 1rem;
        line-height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .home__content nav li a{
        text-decoration: none;
        color: var(--warm-cobalt);
        font-size: 15px;
        font-family: Righteous;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        position: relative;
        z-index: 1;
    }
    
    .home__content nav li a:hover{
        text-decoration: underline;
        text-decoration-color: var(--warm-cobalt-hover);
        color: var(--warm-cobalt-hover);
    }
}


@media (max-width:550px) {
    .home__img {
        margin-top:20%;
        width: 220px;
        display: flex;
        align-items: flex-start;
    }
    .home__img img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0;
        padding: 0;
    }
    .home__content nav li a{
        text-decoration: none;
        color: var(--warm-cobalt);
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        position: relative;
        z-index: 1;
    }
    .home__content nav li a:hover{
        text-decoration: underline;
        text-decoration-color: var(--warm-cobalt-hover);
        color: var(--warm-cobalt-hover);
    }
    /* .home__content .small__p {
        font-size: 8px;
    } */
    /* .home__content p {
        font-size: 7px;
        margin-top: 1rem;
    } */
    .content__header {
        font-size: 25px;
    }
}